/* Reset CSS básico para remover estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: #333;
  background-color: #f5f5f5;
  background-image: url("elenco-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #00733e;
  padding: 20px;
  color: #ffffff;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

section h1 {
  margin-bottom: 10px;
}

section p {
  margin-bottom: 20px;
}

a {
  color: #00733e;
  text-decoration: none;
}

footer {
  background-color: #00733e;
  padding: 10px;
  color: #fff;
  text-align: center;
}
.tabela-jogadores td tr{
    
}
